# Copyright(c) 2018 FUJITSU LIMITED All Rights Reserved.
#
# @file   mdbdatamanagementadm.service
# @brief  カーネルパラメーター定義ファイル
# @author anhnguyen
# @date   2018/12/10
#

# + Requires = postgresql.service mdbutil.service multi-user.target:


[Unit]
Description = Fujitsu FishTech server
After = postgresql.service mdbutil.service multi-user.target
Requires = postgresql.service mdbutil.service multi-user.target

[Service]
ExecStart=/opt/FJSVmapdb/script/mdbdatamanagementadm start
ExecStop=/opt/FJSVmapdb/script/mdbdatamanagementadm stop
TimeoutStopSec=30
RemainAfterExit = yes

[Install]
WantedBy=multi-user.target
