# + Type = oneshot: The service must exit before start mdb*.service, so "Type"
# of service set "oneshot".
# + Requires = multi-user.target: mdbutil use run with user mapdb, so "Requires"
# of service set "multi-user.target"
# + RemainAfterExit = yes: Use "systemctl status mdbutil" for get status of
# service.

[Unit]
Description = Initialize resource for log
After = multi-user.target
Requires = multi-user.target

[Service]
ExecStart = /opt/FJSVmapdb/script/mdbutil start
ExecStop = /opt/FJSVmapdb/script/mdbutil stop
RemainAfterExit = yes
TimeoutStopSec = 30
Type = oneshot

[Install]
WantedBy = multi-user.target
